/* Tags Gerais (elementos) */
*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
    /* primeiro parametro - espaço superior e inferior */
    /* segundo parametro =  espaço esquerda e direita */
}
header h1{
    margin:0;
    height: 84px;
}
nav{
    padding: 15px 0;
    text-align: center;
}
nav li{
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: #000;
}
nav a:hover{
    color: #6dd432;
}
h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}
/* Especificos (#id) */
#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

#produto .flex-conteiner, #contato .flex-conteiner{
    margin-top: 43px;
}

/* Grupos de elementos diferentes (.classes) */
.fundo-verde{
    background-color: #bdff9c;
}

.conteiner{
    width: 900px;
    /* border: 1px solid black; Para ver como está */
    margin: 0 auto;
    padding: 56px 0;
}

.flex-conteiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-conteiner .col{
    width: 430px;
}

.produto{
    width: 235px;
}

.produto figure {
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
    
}

.produto figure img{
    vertical-align: middle;
}

.texto-centralizado{
    text-align: center;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #000;
}

form{
    width: 380px;
}
form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
iframe{
    width: 100%;
}

.footer{
    margin-top: 50px;
    padding: 20px 0;
    background: #00681f;
    color: white;
}
.custom-icon {
    font-size: 32px; /* Ajuste conforme necessário */
    position: absolute;
    left: 20px;               /* Ajuste a distância da esquerda */
    transform: translateY(-50%);  /* Centraliza verticalmente */

}
.custom-icon2{
    font-size: 32px; 
    position: absolute;
    left: 60px;               
    transform: translateY(-50%);  
}

.footer-content {
    display: flex;
    align-items: center;   /* Alinha verticalmente */
    justify-content: center; /* Centraliza tudo horizontalmente */
    gap: 15px; /* Espaço entre o ícone e o texto */
    color: white;
    text-align: center;
}
a:visited {
    color: inherit; /* ou qualquer cor desejada */
  }


  
